@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

.home {
  margin: 0 50px;
}

.home__title {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  margin-top: 50px;
  margin-bottom: 10px;
  color: rgb(240, 240, 240);
}

.home__title_green {
  color: #3fc6d8;
}

.home__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.home__link_wrapper {
  margin-bottom: 10px;
}

.home__link {
  text-decoration: none;
  color: rgb(240, 240, 240);
  text-decoration: underline;
  font-size: 1.5rem;
}

.home__link:hover {
  color: #6fd2df;
}

@media (min-width: 768px) {
  .home {
    margin: 0 100px;
  }

  .home__title {
    font-size: 2.9rem;
    margin-bottom: 5px;
  }

  .home__link_wrapper {
    margin-bottom: 5px;
  }

  .home__link {
    font-size: 1.8rem;
  }
}
