.speedmatch {
  margin-top: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.speedmatch__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
}

.speedmatch___wrapper_true {
  border: 5px solid rgba(27, 187, 110, 0);
  animation-name: trueAnim, trueAnimClose;
  animation-duration: 300ms, 300ms;
  animation-delay: 0ms, 400ms;
  animation-fill-mode: forwards;
}

.speedmatch___wrapper_false {
  border: 5px solid rgba(143, 0, 49, 0);
  animation-name: falseAnim, falseAnimClose;
  animation-duration: 300ms, 300ms;
  animation-delay: 0ms, 400ms;
  animation-fill-mode: forwards;
}

.speedmatch__hint {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.speedmatch__question {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2d3748;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 250px;
  height: 250px;
}

.speedmatch__picture {
  opacity: 1;
  animation-name: closePicture, openPicture;
  animation-duration: 300ms, 300ms;
  animation-delay: 0ms, 400ms;
  animation-fill-mode: forwards;
}

.speedmatch__picture_size {
  object-fit: contain;
  width: 210px;
}

.speedmatch__button {
  width: 122.5px;
  height: 60px;
  font-size: 1rem;
  border: 0;
  border-radius: 5px;
  color: white;
}

.speedmatch__button:hover {
  opacity: 0.85;
  cursor: pointer;
}

.speedmatch__button_left {
  margin-right: 5px;
}

.speedmatch__button_start {
  width: 250px;
  height: 60px;
  font-size: 1rem;
  border: 0;
  border-radius: 5px;
  background-color: #00875a;
  color: white;
}

.speedmatch__button_start:hover {
  opacity: 0.85;
  cursor: pointer;
}

@media (min-width: 768px) and (min-height: 1024px) {
  .speedmatch__question {
    width: 400px;
    height: 400px;
  }

  .speedmatch__picture_size{
    width: 320px;
  }

  .speedmatch__button_start {
    width: 400px;
  }
}

@media (min-width: 1536px) {
  .speedmatch__question {
    width: 400px;
    height: 400px;
  }

  .speedmatch__picture_size{
    width: 320px;
  }

  .speedmatch__button_start {
    width: 400px;
  }
}

@keyframes trueAnim {
  from {
    border: 5px solid rgba(27, 187, 110, 0);
  }
  to {
    border: 5px solid rgba(27, 187, 110, 1);
  }
}

@keyframes trueAnimClose {
  from {
    border: 5px solid rgba(27, 187, 110, 1);
  }
  to {
    border: 5px solid rgba(27, 187, 110, 0);
  }
}

@keyframes falseAnim {
  from {
    border: 5px solid rgba(143, 0, 49, 0);
  }
  to {
    border: 5px solid rgba(143, 0, 49, 1);
  }
}

@keyframes falseAnimClose {
  from {
    border: 5px solid rgba(143, 0, 49, 1);
  }
  to {
    border: 5px solid rgba(143, 0, 49, 0);
  }
}

@keyframes closePicture {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes openPicture {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
