.speedmatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.speedmatch__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.speedmatch___wrapper_true {
  border: 3px solid rgba(27, 187, 110, 0);
  animation-name: trueAnim, trueAnimClose;
  animation-duration: 300ms, 300ms;
  animation-delay: 0ms, 400ms;
  animation-fill-mode: forwards;
}

.speedmatch___wrapper_false {
  border: 3px solid rgba(143, 0, 49, 0);
  animation-name: falseAnim, falseAnimClose;
  animation-duration: 300ms, 300ms;
  animation-delay: 0ms, 400ms;
  animation-fill-mode: forwards;
}

.speedmatch__hint {
  margin-bottom: 5px;
}

.speedmatch__question {
  padding: 10px;
  background-color: #2d3748;
  border-radius: 5px;
  margin-bottom: 5px;
}

.speedmatch__picture {
  opacity: 1;
  animation-name: closePicture, openPicture;
  animation-duration: 300ms, 300ms;
  animation-delay: 0ms, 400ms;
  animation-fill-mode: forwards;
}

.speedmatch__button {
  width: 82.25px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  color: white;
}

.speedmatch__button:hover {
  opacity: 0.85;
  cursor: pointer;
}

.speedmatch__button_left {
  margin-right: 5px;
}

.speedmatch__button_start {
  width: 170px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  background-color: #00875a;
  color: white;
}

.speedmatch__button_start:hover {
  opacity: 0.85;
  cursor: pointer;
}

@keyframes trueAnim {
  from {
    border: 3px solid rgba(27, 187, 110, 0);
  }
  to {
    border: 3px solid rgba(27, 187, 110, 1);
  }
}

@keyframes trueAnimClose {
  from {
    border: 3px solid rgba(27, 187, 110, 1);
  }
  to {
    border: 3px solid rgba(27, 187, 110, 0);
  }
}

@keyframes falseAnim {
  from {
    border: 3px solid rgba(143, 0, 49, 0);
  }
  to {
    border: 3px solid rgba(143, 0, 49, 1);
  }
}

@keyframes falseAnimClose {
  from {
    border: 3px solid rgba(143, 0, 49, 1);
  }
  to {
    border: 3px solid rgba(143, 0, 49, 0);
  }
}

@keyframes closePicture {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes openPicture {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
