@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: rgb(240, 240, 240);
}

.sea-green {
  background-color: #028fa3;
}

.dark-red {
  background-color: #8f0031;
}
